capstone-workspace/capstone-ace-anypoint-api/src/main/mule/anypoint-system-api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd  http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
    <http:listener-config name="anypoint-system-api-httpListenerConfig">
        <http:listener-connection host="0.0.0.0" port="8081" />
    </http:listener-config>
    <apikit:config name="anypoint-system-api-config" api="resource::5933124b-b230-4b4e-91d4-176e68b1474f:anypoint-system-api:1.0.10:raml:zip:anypoint-system-api.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <flow name="anypoint-system-api-main">
        <http:listener config-ref="anypoint-system-api-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="anypoint-system-api-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="anypoint-system-api-console">
        <http:listener config-ref="anypoint-system-api-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="anypoint-system-api-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="delete:\org\(org-id)\env\(env-id)\api\(api-id)\contract\(contract-id):anypoint-system-api-config">
        <http:request method="DELETE" doc:name="delete contract" doc:id="268fb5ba-1466-4c22-b40b-70a3c5d32a7e" config-ref="api-platform-http-config" path="#[p(&quot;ap.apimanager.api.url&quot;) ++ p(&quot;delete.contract.url&quot;)]">
            <http:headers><![CDATA[#[output application/java
---
{
	"Authorization" : "Bearer " ++ (attributes.headers.Authorization default ''),
	"Content-Type" : "application/json"
}]]]></http:headers>
            <http:uri-params><![CDATA[#[%dw 2.0
output application/java
---
{
	"org-id" : attributes.uriParams.'org-id',
	"env-id": attributes.uriParams.'env-id',
    "api-id": attributes.uriParams.'api-id',
    "contract-id": attributes.uriParams.'contract-id'
}]]]></http:uri-params>
        </http:request>
        <logger level="INFO" message="#[payload]" doc:name="log payload" />
    </flow>
    <flow name="options:\login:anypoint-system-api-config">
        <logger level="INFO" message="options:\login:anypoint-system-api-config" />
    </flow>
    <flow name="get:\org\(org-id)\app\(app-id)\contracts:anypoint-system-api-config">
        <http:request method="GET" doc:name="fetch app contracts" doc:id="6fa7dac0-e822-47fc-a13a-ed4d03f84b69" config-ref="api-platform-http-config" path="#[p('ap.apiplatform.api.url') ++ p(&quot;fetch.app.contracts&quot;)]">
            <http:headers><![CDATA[#[output application/java
---
{
	"Authorization" : "Bearer " ++ (attributes.headers.Authorization default ''),
	"Content-Type" : "application/json"
}]]]></http:headers>
            <http:uri-params><![CDATA[#[output application/java
---
{
	"org-id" : attributes.uriParams.'org-id',
	"app-id" : attributes.uriParams.'app-id'
}]]]></http:uri-params>
        </http:request>
        <ee:transform doc:name="Transform Message" doc:id="e23fc0db-fc49-4be9-ba1c-d452f5735e1c">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	contracts: payload map ( payload01 , indexOfPayload01 ) -> {
		organizationId: payload01.organizationId,
		apiVersion: {
			organizationId: payload01.apiVersion.organizationId,
			productVersion: payload01.apiVersion.productVersion,
			environmentId: payload01.apiVersion.environmentId,
			deprecated: payload01.apiVersion.deprecated,
			name: payload01.apiVersion.name,
			id: payload01.apiVersion.id,
			instanceLabel: payload01.apiVersion.instanceLabel,
			api: {
				organizationId: payload01.apiVersion.api.organizationId,
				audit: {
					created: payload01.apiVersion.api.audit.created,
					updated: payload01.apiVersion.api.audit.updated
				},
				name: payload01.apiVersion.api.name,
				id: payload01.apiVersion.api.id,
				exchangeAssetName: payload01.apiVersion.api.exchangeAssetName
			},
			apiId: payload01.apiVersion.apiId
		},
		audit: payload01.audit,
		id: payload01.id,
		groupInstance: payload01.groupInstance,
		requestedTier: payload01.requestedTier,
		status: payload01.status
	}
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
        <logger level="INFO" doc:name="log payload" doc:id="5fa5820d-4a07-4fcb-9f0e-01f7ca2d972a" message="#[payload]" />
    </flow>
    <flow name="get:\org\(org-id)\applications:anypoint-system-api-config">
        <http:request method="GET" doc:name="fetch applications" doc:id="8cdaacfc-eb1e-4bd4-991a-7e9c2fd5f8ef" config-ref="api-platform-http-config" path="#[p('ap.apiplatform.api.url') ++ p(&quot;fetch.apps.url&quot;)]">
            <http:headers><![CDATA[#[output application/java
---
{
	"Authorization" : "Bearer " ++ (attributes.headers.Authorization default ''),
	"Content-Type" : "application/json"
}]]]></http:headers>
            <http:uri-params><![CDATA[#[output application/java
---
{
	"org-id" : attributes.uriParams.'org-id'
}]]]></http:uri-params>
            <http:query-params><![CDATA[#[output application/java
---
{
	"targetAdminSite" : "true"
}]]]></http:query-params>
        </http:request>
        <logger level="INFO" doc:name="log payload" doc:id="f060dfeb-d374-414d-8b19-bd9b67a7ff22" message="#[payload]" />
    </flow>
    <flow name="post:\login:application\json:anypoint-system-api-config">
        <http:request method="POST" doc:name="login request" doc:id="317a6304-357d-447c-a693-a29c88938ca0" config-ref="api-platform-http-config" path="#[p(&quot;ap.login.url&quot;)]" outputMimeType="application/json" />
        <logger level="INFO" doc:name="log payload" doc:id="3cce5d01-1935-40a3-b49c-eb98bf5286e6" message="#[payload]" />
    </flow>
    <flow name="post:\org\(org-id)\env\(env-id)\api\(api-id)\contract\(contract-id)\revoke:application\json:anypoint-system-api-config">
		<http:request method="POST" doc:name="revoke contract" doc:id="76478aab-81c5-4de2-9c5e-55e677d870e2" config-ref="api-platform-http-config" path="#[p(&quot;ap.apimanager.api.url&quot;) ++ p(&quot;revoke.contract.url&quot;)]">
            <http:headers><![CDATA[#[output application/java
---
{
	"Authorization" : "Bearer " ++ (attributes.headers.Authorization default ''),
	"Content-Type" : "application/json"
}]]]></http:headers>
            <http:uri-params><![CDATA[#[%dw 2.0
output application/java
---
{
	"org-id" : attributes.uriParams.'org-id',
	"env-id": attributes.uriParams.'env-id',
    "api-id": attributes.uriParams.'api-id',
    "contract-id": attributes.uriParams.'contract-id'
}]]]></http:uri-params>
        </http:request>
        <logger level="INFO" doc:name="log payload" doc:id="957701ee-8215-42a5-bcc2-aa8e021a015f" message="#[payload]" />
    </flow>
    <flow name="get:\org\(org-id)\app\(app-id)\secret\reset:anypoint-system-api-config">
        <http:request method="POST" doc:name="reset app credentials" doc:id="6aa634e3-1599-4503-872b-7420480be9ff" config-ref="api-platform-http-config" path='#[p("ap.apiplatform.api.url") ++ p("reset.credentials.url")]'>
            <http:headers><![CDATA[#[output application/java
---
{
	"Authorization" : "Bearer " ++ (attributes.headers.Authorization default ''),
	"Content-Type" : "application/json"
}]]]></http:headers>
            <http:uri-params><![CDATA[#[%dw 2.0
output application/java
---
{
	"org-id" : attributes.uriParams.'org-id',
	"app-id" : attributes.uriParams.'app-id'
}]]]></http:uri-params>
        </http:request>
        <logger level="INFO" doc:name="log payload" doc:id="7ff197ff-7bff-48fa-bf4d-cea66840ff41" message="#[payload]" />
    </flow>
    <flow name="get:\token\(token)\reset:anypoint-system-api-config">
        <http:request method="DELETE" doc:name="delete token" doc:id="e1b8964a-3f8e-4750-91a5-51f345057ccf" config-ref="api-platform-http-config" path="#[p(&quot;ap.delete.token.url&quot;)]">
            <http:uri-params><![CDATA[#[output application/java
---
{
	"access_token" : attributes.uriParams.'token'
}]]]></http:uri-params>
        </http:request>
        <logger level="INFO" doc:name="log payload" doc:id="e8381335-d508-48bf-8f0f-3993d7c32ebc" message="#[payload]" />
    </flow>
</mule>
